<div class="card table-card">
    <div class="row-table">
      <div class="col-sm-6 card-block-big br">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-car fa-5x"></i>
          </div>
          <div class="col-sm-9 text-center">
            <h5>Total Slots: </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 card-block-big">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-car fa-5x fa-spin1"></i>
          </div>
          <div class="col-sm-9 text-center">
            <h5>Avilable Slots</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row-table">
      <div class="col-sm-6 card-block-big br">
        <div class="row">
          <div class="col-sm-3">
            <i class="icofont icofont-files text-info"></i>
          </div>
          <div class="col-sm-9 text-center">
            <h5>{{soltDetails.TotalSlots}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 card-block-big">
        <div class="row">
          <div class="col-sm-3">
            <i class="icofont icofont-envelope-open text-warning"></i>
          </div>
          <div class="col-sm-9 text-center">
            <h5>{{soltDetails.AvilableSlots}}</h5>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="card table-card card1">
    <div class="row-table car-info">
      <div class="col-sm-6 card-block-big br">
          <img src="assets/images/car.png" alt="User-Profile-Image" class="car carSize">
      </div>
      <div class="col-sm-6 card-block-big">
          <h5>Avilable</h5>
          <p>Indicates available parking slots!...<i class="fa fa-info-circle info" title="Indicates the available parking slots Indicates the available parking slots."></i></p>
      </div>
    </div>
    <div class="row-table car-info">
        <div class="col-sm-6 card-block-big br">
            <img src="assets/images/dedicated.png" alt="User-Profile-Image" class="car carSize">
        </div>
        <div class="col-sm-6 card-block-big">
            <h5>Owner</h5>
            <p>Indicates owners parking slots!...<i class="fa fa-info-circle info" title="Indicates the owners parking slots."></i></p>
        </div>
      </div>
      <div class="row-table car-info">
          <div class="col-sm-6 card-block-big br">
              <img src="assets/images/disabled.png" alt="User-Profile-Image" class="car carSize">
          </div>
          <div class="col-sm-6 card-block-big">
              <h5>Booked</h5>
              <p>Indicates booked parking slots!...<i class="fa fa-info-circle info" title="Indicates the booked parking slots."></i></p>
          </div>
        </div>
        <div class="row-table car-info">
            <div class="col-sm-6 card-block-big br">
                <img src="assets/images/car-yellow.png" alt="User-Profile-Image" class="car carSize">
            </div>
            <div class="col-sm-6 card-block-big">
                <h5>Transient</h5>
                <p>Indicates Transient parking slots!...<i class="fa fa-info-circle info" title="Indicates the Transient parking slots."></i></p>
            </div>
          </div>
</div>