<ul class="nav-right no-block ng-trigger ng-trigger-mobileMenuTop">
  <li class="user-profile header-notification">
    <a class="ng-tns-c1-0" ng-reflect-router-link="/" href="/">
      <img class="ng-tns-c1-0" alt="User-Profile-Image" src="assets/images/user.png">
      <span class="ng-tns-c1-0">{{welcome}}</span>
      <i class="ti-angle-down"></i>
    </a>
  </li>
  <li>
    <li class="ng-tns-c1-0">
      <a class="ng-tns-c1-0" ng-reflect-router-link="/" href="javascript:void(0)" (click)="logout()">
        <i class="ti-layout-sidebar-left"></i> Logout
      </a>
    </li>
</ul>