<div class="row">
    <div class="col col-sm-2 seat" *ngFor="let item of totalCars | async; index as i">
        <input type="checkbox" id="{{item.SlotNumber}}A">
        <label for="{{item.SlotNumber}}A">
          <img src="assets/images/{{ setImage(item) }}.png" alt="User-Profile-Image"
            class="carSize" (click)="selectedParking(item.SlotNumber)"><i class="fa fa-info-circle" *ngIf="(item.SlotNumber == this.owner.SlotNumber) && !item.Type" (click)="openNewDialog()"></i>
            <br>
          <span class="row_num">{{item.SlotNumber}}</span>
          <span class="row_block">A</span>
          <br>
          <span class="timer" *ngIf="item.Status == 'Booked'">{{countdown}}</span>
        </label>
    </div>
</div>
