/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
/* @import '../../ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr-bs4-alert'; */

body {
  background-color: #f3f3f3;
  font-size: 13px;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.085rem;
}
.coded-main-container {
  position: relative;
  margin: 0 auto;
  display: block;
  background: #e9e9e9;
  min-height: calc(100vh - 56px);
}
.coded-content {
  float: unset;
  right: 0;
  position: relative;
  display: block;
}
.coded-inner-content {
  padding: 10px;
}
.main-body .page-wrapper {
  padding: 1.8rem;
  transition: all ease-in 0.3s;
}
.card {
  border-radius: 2px;
  border-top: 4px solid #8cddcd;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 30px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.table-card .row-table:first-child {
  border-bottom: 1px solid #ddd;
}
.table-card .row-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}
.table-card .row-table > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}
.table-card .row-table .br {
  border-right: 1px solid #ccc;
}
@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.card-block-big {
  padding: 2em;
}
@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
.text-center {
  text-align: center;
}
.table-card .row-table h5 {
  display: block;
  margin-bottom: 0.3em;
  margin-right: 0;
}
.card h5 {
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.card-title,
h5 {
  margin: 0;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.card-border-primary {
  border-top: 4px solid #1abc9c;
}
.card .card-header {
  background-color: transparent;
  padding: 15px 20px;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-block {
  padding: 1.25rem;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.card .card-footer {
  background-color: #fff;
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer .task-list-table,
.card-footer .task-list-table a img {
  display: inline-block;
}
.m-0 {
  margin: 0px;
}
.task-board {
  margin-top: 10px;
  float: right;
}
.btn-mini {
  padding: 5px 10px;
  line-height: 14px;
  font-size: 10px;
}
.btn-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  font-family: "Open Sans";
}
.b-none {
  border: none !important;
}
.widget-primary-card,
.widget-success-card {
  border-top: none;
  background-color: #1abc9c;
  color: #fff;
}
.widget-success-card {
  background-color: #2ecc71;
}
.widget-primary-card,
.widget-success-card {
  border-top: none;
  background-color: #1abc9c;
  color: #fff;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.widget-primary-card .row-table > [class*="col-"]:first-child,
.widget-success-card .row-table > [class*="col-"]:first-child {
  background-color: #148f77;
  text-align: center;
}
.widget-primary-card .row-table > [class*="col-"],
.widget-success-card .row-table > [class*="col-"] {
  display: inline-block;
  vertical-align: middle;
}
.table-card .row-table > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.fullWidth {
  width: 100% !important;
}
.auth-fluid {
  margin: 0 auto;
}
.login-card {
  border-radius: 30px;
  position: relative;
  display: block;
}
.auth-body {
  min-width: 450px;
}

form {
  display: block;
  margin-top: 0em;
}
.auth-box {
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 0 50px 0;
  padding: 20px;
}
.b-b-default {
  border-bottom: 1px solid #bdc3c7;
}

.input-group {
  margin-bottom: 1.25em;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.whiteBg {
  background: #ffffff;
}
.pcoded .pcoded-header[header-theme="theme4"] {
  background: #2c3e50;
}
.pcoded[theme-layout="vertical"] .pcoded-header {
  width: 100%;
  box-shadow: 2px 6px 6px -8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 6px 6px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 6px 6px -8px rgba(0, 0, 0, 0.2);
}
.pcoded .pcoded-header {
  position: relative;
  display: block;
}

.pcoded-header[header-theme="theme4"] {
  background: #2c3e50;
}
.header-navbar {
  min-height: 4em;
  padding: 0;
  z-index: 9999;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.header-navbar .navbar-wrapper {
  background-color: #2c3e50;
}
.coded .coded-container {
  width: 100%;
  margin: 0 auto;
}
.coded[theme-layout="vertical"] .coded-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.coded .coded-container {
  position: relative;
  background: #d5dae6;
}

.pcoded[theme-layout="vertical"][vertical-layout="wide"] .pcoded-container {
  width: 100%;
  margin: 0 auto;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left,
.header-navbar .navbar-wrapper .navbar-container .nav-right {
  float: left;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .header-navbar .navbar-wrapper .navbar-container .nav-right {
    overflow: visible !important;
    height: auto !important;
  }
}
.header-navbar .navbar-wrapper .navbar-container .nav-right {
  float: right;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left li,
.header-navbar .navbar-wrapper .navbar-container .nav-right li {
  float: left;
  line-height: 4;
  padding: 0 10px;
  position: relative;
  list-style: none;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification,
.header-navbar .navbar-wrapper .navbar-container .mega-menu-top {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  z-index: 99;
}
.header-navbar .navbar-wrapper .navbar-container .nav-left a,
.header-navbar .navbar-wrapper .navbar-container .nav-right a {
  color: #fff;
  padding: 1.5rem 0.6rem;
}
.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
  margin-right: 10px;
  width: 40px;
}
img {
  vertical-align: middle;
  border-style: none;
}

.pcoded-header {
  position: relative;
  display: block;
}

/*  Toastr related styles */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}
.toast-container .toast:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .toast.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.card1 {
  border-top: 4px solid #a3c644 !important;
}

.modal {
  z-index: 0 !important;
}
.margin-t-10{
  margin-top:10px;
}
.modal-body{
  text-align: center;
}